version: '3'
services:
#  go:
#    build: ./.docker/go
#    volumes:
#      - ./:/go/src/github.com/
#    ports:
#      - "9000:9000"
#    expose:
#      - "9000"
#    environment:
#      - "GOPATH=usr/local/go"
#      - "PATH=$PATH:usr/local/go/bin"
#    depends_on:
#      - "es"

  es:
    build: ./.docker/es
    container_name: es
    environment:
      - discovery.type=single-node
    volumes:
      - ./.docker/es/data:/usr/share/elasticsearch/data
    expose:
      - 9200
    ports:
      - 9200:9200
  kibana:
    build: ./.docker/kibana
    container_name: kibana
    ports:
      - 5601:5601
    environment:
      ELASTICSEARCH_HOSTS: http://es:9200