<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>検索サンプル</title>
  </head>
  <body>
    <div id="app">
      <p>
        <input type="text" v-model="keyword">
      </p>
      <p>
        <select v-model="selected">
          <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>
      </p>
      <p>
        {{ message }}
      </p>
      <ul>
        <strong>作品</strong>
        <li v-for="title in titles">
          {{ title.name }}
        </li>
        <br>
        <strong>著者</strong>
        <li v-for="author in authors">
          {{ author.name }}
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
